<!-- kindergartens.component.html -->
<mat-tab-group>
  <mat-tab *ngFor="let kindergarden of this.storeService.kindergardens" label="{{ kindergarden.name }}">
    <div class="kindergarten-details">
      <h2>{{ kindergarden.name }}</h2>
      <carousel [itemsPerSlide]="1" [singleSlideOffset]="false" [interval]="5000" [noPause]="true" [noWrap]="false">
        <slide *ngFor="let imageUrl of getKindergardenUrls(kindergarden)">
          <div class="kindergarten-slideshow-container">
            <img [src]="imageUrl" alt="Foto des Kindergartens" class="kindergarten-image">
          </div>
        </slide>
      </carousel>
      <br>
      <p>{{ kindergarden.description }}</p>
    </div>
  </mat-tab>
</mat-tab-group>
